.event-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  inline-size: 176px;
  aspect-ratio: 1;
  padding: calc(var(--spacing) * 6) calc(var(--spacing) * 6) 21px;
}

.event-card__title {
  font-size: var(--text-lg);
}

.event-card__time {
  margin-block-start: calc(var(--spacing) * 1);
  font-size: var(--text-xs);
  font-weight: var(--font-weight-medium);
  color: var(--text-color-muted);
}

.event-card__attendees {
  margin-block-start: auto;
}
